torch>=1.8.11
torchvision>=0.9.1
torchaudio>=0.8.1
numpy
scipy
Pillow
matplotlib
scikit-image
librosa
timm
einops

gradio
transformers
sentencepiece
accelerate

wandb

sounddevice
validators
PySimpleGUI

pytorch_lightning